<%- include("partials/header.ejs") %>

<section>
    <div class="create-book book-card container">
        <div class="book-card start">

        </div>
        <div class="create-book flex-container">
            <div class="create-book grid-container">
                <form class="create-book" action="/book/edit/<%= book_id %>" method="POST">
                    <div>
                        Title<br>
                        <input type="text" id="title" name="title" value="<%= title %>">
                    </div>
                    <div>
                        ISBN<br>
                        <input type="text" id="isbn" name="isbn" value="<%= isbn %>">
                    </div>
                    <div>
                        Category<br>
                        <input type="text" id="category" name="category" value="<%= category %>">
                    </div>
                    <div>
                        Rating<br>
                        <input type="number" id="rating" name="rating" min="0" max="10" value="<%= rating %>">
                    </div>
                    <div class="summary">
                        Book Summary<br>
                        <textarea type="text" name="summary" id="summary" rows="10" ><%= summary %></textarea>
                    </div>
                    <div>
                        Finished?<br>
                        <input type="checkbox" id="finished" name="finished" checked="<%= finished %>">
                    </div>
                    <div>
                        <button type="submit" class="nav-item">
                            Edit
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="nav actions container">
        <div class="books actions flex-container">
            <a href="/">
                <div class="nav-item">
                   Cancel
                </div>
            </a>
            <form class="book-delete" action="/book/delete/<%= book_id %>"  method="POST">
                <button type="submit" class="nav-item">
                    Delete
                </button>
            </form>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>